.list {
  position: relative;
  list-style: none;
  counter-reset: item;
  padding: 0;
}

.list__item {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px dotted green;
  min-height: 60px;

  &::before {
    counter-increment: item;
    content: counter(item);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    width: 40px;

    background-color: silver;
  }

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    width: 40px;

    background-color: silver;
  }
}

.list__btn--edit {
  position: absolute;

  right: 5px;
  top: 5px;

  width: 40px;
  z-index: 10;
}
