.tabs {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.tabs__controller {
  background-color: transparent;
}

.tabs__panel {
  display: none;
  order: 1;
}

.tabs__btn-panel {
  display: flex;
  border-bottom: 1px solid silver;
  order: 0;
}

.tabs__btn {
  display: block;
  padding: 10px;
  cursor: pointer;

  border: 1px solid silver;
  margin-bottom: -1px;

  text-decoration: none;
}

.tabs__btn + .tabs__btn {
  margin-left: -1px;
}

.tabs__panel:target {
  display: block;
}

#tab-abits.tabs__panel:target ~ .tabs__btn-panel .tabs__btn[href="#tab-abits"],
#tab-edu-progs.tabs__panel:target ~ .tabs__btn-panel .tabs__btn[href="#tab-edu-progs"] {
  border-bottom: 1px solid white;
  cursor: default;
}
